.newOrderTableWrapper {
    background: #fff;
    padding: 20px 15px;
    overflow-x: auto;
}
.newOrderTable {
    width: 100%;
}
.newOrderTable thead th {
    background: #333;
    color: #fff;
    padding-left: 10px;
    text-align: center;
    border: 1px solid #333;
}
.newOrderTable tr {
    padding-left: 10px;
}
.newOrderTable tr td {
    padding-left: 10px;
}

.newOrderTable th {
    padding: 8px;
}
.newOrderTable td {
    padding: 5px;
}

.newOrderTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
.newOrderTable tbody tr:nth-child(odd) {
    background-color: #e0e0e0;
}
.invoice {
    background-color: #39b54a;
    color: #fff !important;
    padding: 3px 10px;
    border-radius: 4px;
    border: none;
    text-decoration: none;
}
.details {
    background-color: #1e88e5;
    color: #fff !important;
    padding: 3px 10px;
    border-radius: 4px;
    border: none;
    text-decoration: none;
}
.location span {
    padding: 1px 3px;
    text-align: center;
    margin-right: 6px;
}
.accept {
    background-color: green;
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    border: none;
}
.cancel {
    background-color: #ff0000;
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    border: none;
    margin-left: 5px;
}

.newOrderTable tbody td{
    min-width: 130px;
    text-align: center;
}
.newOrderTable tbody td:nth-child(1){
    min-width: 50px;
}

.orderSelect {
    width: 150px;
    background: #e74c3c;
    color: #fff;
    border-color: #333;
}
.orderSelect:focus {
    outline: none;
}
.times {
    background: transparent;
    margin-left: 5px;
    color: red;
    border: none;
    font-size: 19px;
}
.payment {
    border: none;
    background: #39b54a;
    color: #fff;
    margin-left: 5px;
    padding: 2px 5px;
    border-radius: 3px;
}

/******** Responsive ***********/
@media (max-width: 575.98px) {
    .cancel {
       margin-bottom: 5px;
    }
    .accept {
        margin-bottom: 5px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .cancel {
       margin-bottom: 5px;
    }
    .accept {
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .cancel {
       margin-bottom: 5px;
    }
    .accept {
        margin-bottom: 5px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .cancel {
       margin-bottom: 5px;
    }
    .accept {
        margin-bottom: 5px;
    }
}

@media (min-width: 1200px) {
}