.checkout__section {
    background-color: #f7f8fa;
    min-height: 100%;
}
.checkout__title {
    text-transform: uppercase;
    font-weight: 600;
}

.checkout__address {
    background: #fff;
    margin: 15px 0;
    padding: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}
